body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    min-height: 100vh;
}

header,
.header-links,
.body,
.body-card,
.links-section,
.links-container,
.second-body,
.frame {
    display: flex;
}

.body,
.second-body {
    justify-content: center;
}

.links-section,
.second-body {
    align-items: center;
}

.body-card,
.links-section {
    flex-direction: column;
}

header {
    /* background-color: #3f72af; */
    background-color: #1f2937;
    padding: 10px 90px;
    justify-content: space-between;
    flex: 0 0 auto;
    align-items: center;
}

.header-links {
    gap: 40px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.body {
    background-color: #1f2937;
    padding: 30px;
    gap: 40px;
    justify-content: center;
}

.body-card,
.second-body {
    color: #f9faf8;
    padding: 10px;
}

.body-card h1 {
    font-weight: bolder;
    font-size: 48px;
    margin: 0;
}

.body-card p {
    color: #e5e7eb;
    font-size: 18px;
}

.body-card button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 1px solid #1f2937;
    font-size: 18px;
    align-self: flex-start;
    padding: 10px;
    border-radius: 8px;
}

.body img {
    width: 600px;
    height: auto;
}

.links-section h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.links-container {
    gap: 90px;
}

.image-links {
    width: 150px;
    height: 224.688px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.image-links-container h3 {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}

.phrases {
    background-color: #e5e7eb;
    padding: 100px;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
    text-align: justify;
}

.author {
    color: #1f2937;
    font-size: 18px;
    font-weight: bold;
    text-align: end;
}

.second-body {
    padding: 50px 0;
}

.frame {
    background-color: #3882f6;
    padding: 60px;
    border-radius: 20px;
    gap: 100px;
    align-items: center;
}

.frame h4 {
    font-size: 22px;
    font-weight: bolder;
    margin: 0;
}

.frame p {
    font-size: 18px;
    margin: 8px 0px;
}

.frame button {
    background-color: #3882f6;
    color: #f9faf8;
    align-self: flex-start;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #f9faf8;
    border-radius: 8px;
}

footer {
    padding: 20px 0px;
    text-align: center;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 25px;
}